body {
    height: calc(100vh - 16px);
}

.container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 130px auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 100%;
    }
    
.import { 
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    background-color: lightgrey;
    outline: 3px solid black;
}

.content { 
    grid-area: 2 / 1 / 3 / 2;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.tooltip {
    background-color: white;
    opacity: 0.8;
    outline: 2px solid black;
    overflow: hidden;
}
    